@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}
h1{
    margin: 0;
}

header {
    font-family: var(--primary-font);
    font-size: 3em;
    color: var(--text-light);
    background-color: var(--primary-color);
    text-align: center;
    padding-bottom: 50px;
}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    background-color: lightgray;
}
#menu-btn {
    visibility: hidden;

}

a:link, a:visited {
    color: var(--primary-font);
    margin-top: 5px;
    padding: 5px;
    font-size: .5em;
}

main h1 {
    margin-top: 25px;
    font-family: var(--primary-font);
    font-size: 3em;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20%;

}

.hide {
    display: none !important;
}

figure img {
	max-width: 100%;
    height: 250px;
    width: 250px;
    
    object-fit: cover;
    text-align: center;
    display: inline;
    border: 10px white solid;
    box-shadow: 5px 5px 10px #061a40e2;
}


.close-up{
    display: grid;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.75);
}

.close-up-x {
    color: white;
    font-size: 2rem;
    background-color: transparent;
    text-align: right;
    margin-top: auto;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 2/3;
    border: none;
}

.close-up img {
    width: 100%;
    max-height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-bottom: 10%;
}


footer {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-light);
    background-color: var(--primary-color);
    padding: 10px;
}
footer p {
    margin-left: 20%;
}

  @media screen and (max-width: 800px) {
    /* CSS rules for screens smaller than 600 pixels wide */
    header {
        font-family: var(--primary-font);
        font-size: 3em;
        color: var(--text-light);
        background-color: var(--primary-color);
        text-align: center;
        padding-bottom: 50px;
    }
    #menu-btn {
        visibility: visible;
        margin-bottom: 0;
        font-size: 1.4em;
        font-family: var(--primary-font);
        color: var(--text-light);
        background-color: var(--primary-color);
        border: none;
    }
    main h1 {
        color: var(--text-dark);
        text-align: center;
        margin: 50px;
        font-size: 4em;
        font-family: var(--primary-font);
    }
    body {
        font-family: var(--primary-font);
        font-size: 1.2em;
      }

      a:link,
      a:visited {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;

    }
  }

  @media screen and (min-width: 1100px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1300px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 15%
    }
  }

@media screen and (min-width: 1000px) {
    .close-up{
        top: 5%;
        bottom: 2%;
        right: 7%;
        left: 7%;
        grid-template-columns: 4% 92% 4%;
        grid-template-rows: 10% 85% 5% ;
        background-color: rgba(0, 0, 0, 0.75);
        
    }

    .close-up img{
        max-height: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
        margin-bottom: auto;
        object-fit: contain;
    }
}


